body {
    padding: 10%;
    color: #222;
    background: #fff;
  }
  a {
    color: #0033cc;
  }
  
img{
    height: 30px;
     width: 30px; 
}

button{
    border:none;
    border-style:inset;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
    background-color:white;
    }

/* Dark Mode styles */

body.dark-theme {
  color: #eee;
  background: #121212;
}
body.dark-theme a {
  color: #809fff;
}

body.dark-theme button{
    background-color:transparent;
    color:white;
    }
